.plistwrap{
    width:100%;
    max-width:1024px;
}

.plistits{
    display:flex;
    gap:10px;
}

.pit{
    display:flex;
    flex-direction:column;
    overflow:hidden;
    border-radius:5px;
    gap:1px;
    cursor:pointer;
}

.pitdes{
    display:flex;
    flex-direction: column;
    gap:1px;
}

.pitdes>h1{
    margin-bottom:0px;
    margin-top:0px;
    text-transform:capitalize;
}

.pitdes>h2{
    margin-top:0px;
    font-weight:200;
}